/*'body' is an element selector*/
body{
	padding: 200px;
	background-color: 00CCCC;
}


/* '.' is a class selector. these are good.  they keep things general*/
.dark_gray{
	color: #787878;
}
.blue{
	padding: 20px;
	color: #787878;
	background-color: white;
	text-align: center;
	font-family: 'roboto', sans-serif;
	height: 400px;
	box-shadow: 2px 2px 8px 0px #282828;
}


