.textfield{
	
	margin-bottom: 18px;

	border-style: solid;
	border-color: #2dc1c1;
	border-width: 1px;
	border-radius: 4px;

	padding-left: 10px;


	height: 40px;
	width: 375px;

	font-size: 0.6em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;



}
.textfield:focus{
	border-color: #cccccc;
}

