<!-- <!DOCTYPE html> -->
<html>

	<head>
		<title>Practice</title>

		<!-- included sources -->		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/textfield.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script type="text/javascript" src="../JS/external_JS.js"></script>


	</head>


	<body>

		<div id="container" >
			<div class="welcome_text">Hello, {{name}}.</div>



				{{#text_fields}}
					<input class="textfield" placeholder="{{placeholder}}"></input>
				{{/text_fields}}
				
		
			<div id="submit_button" class="purple">submit</div>

		</div>



	</body>


</html>