<!-- <!DOCTYPE html> -->
<html>

	<head>
		<title>Practice</title>

		<!-- included sources -->		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/textfield.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">

	</head>


	<body>

		<div id="container" >
			<div class="welcome_text">Hello, {{name}}.</div>


				<div id="text_input"></div>

				<script>
					$( document ).ready(function() {
    					var num = {{val}};
     					var container = $('<div />');
     					for(var i = 1; i <= num; i++) {
         					container.append('<input class="textfield" placeholder="thing '+i+'"></input>');
     					}
     					$('#text_input').html(container);
					});
				
				
     			</script>
				
			

			

			<div class="submit_button" class="purple">submit</div>
		</div>



	</body>


</html>